<%- include('layouts/header.ejs') %>
    <main>
        <form action="/add-product" method="POST">
            <input type="text" name="title">
            <button type="submit">Submit</button>
        </form>
    </main> 
<%- include('layouts/footer.ejs') %>