<%- include('layouts/header.ejs') %>
    <main>
        <h1>My Products</h1>
        <% if(products.length > 0) { %>
            <ul>
                <% for(let i = 0; i < products.length; i++) { %>
                <li><%= products[i].title %></li>
                <% } %>
            </ul>
        <% } else { %>
            <h2>No Product Found</h2>
        <% } %>
    </main> 
<%- include('layouts/footer.ejs') %>